.app{
   display: grid;
   grid-template-areas: 
   "h h h"
   ". m .";
   grid-template-columns: 1fr 4fr 1fr;
   min-height: 100vh;
}
.header{
   grid-area: h;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 10vh;
}
.main{
   grid-area: m;
   display: flex;
   justify-content: center;
   align-items: start;
   height: 90vh;
}

